body{
    margin:0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
}
/*상품 등록 폼*/
#reg_wrap {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
ul li{
    list-style: none;
    margin-bottom: 20px;

}
/* 파일선택 라벨(여기를 누르면 이미지 추가 가능) */
#fileLabel {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    transition: background-color 0.3s ease;
}

#fileLabel:hover {
    background-color: #e2e2e2;
}

/*파일 입력부분 숨김 처리*/
#fileinput{
    display: none;
}

.imagefile{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
/* 상품 정보 입력칸(상품명, 카테고리, 가격, 제품설명) */
.prodinfo {
    margin-bottom: 20px;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 박스 사이즈가 padding을 포함하도록 설정 */
}
/*판매 등록 버튼*/
.regbutton{
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #2189E9;
    border:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
