#header {
    position: absolute;
    width: 100vw;
    height: 50px;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, #2189E9, #2189E9), #74D742;
}
body {
    font-family: 'Inter';
    font-style: normal;
}

#header a {
    font-weight: 400;
    font-size: 1.3rem;
    padding: 5px 5px;
    color: #FFFFFF;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 2em;
    height: 40px;
}

#header a:hover{
    font-weight: 600;
    background-color: #192d49;
}

/* logo img */

#header img {
    position: absolute;
    width: 50px;
    height: 45px;
    left:100px;
    top: 3px;
}

/* 천사Mall */

.home {
    width: 100px;
    left: 150px;
}

/* 판매하기 */

.sell{
    width: 100px;
    right: 257px;
}

/* 로그인, 로그아웃 */

.login{
    width: 100px;
    right: 150px;
}

/* 마이페이지 */
.mypage{
    width: 104px;
    right: 33px;
}

#jsp_body{
    position: absolute;
    top: 50px;
    font-size: 1rem;
}

#footer {
    position: fixed;
    bottom: 5px;
    left: 100px;
    font-size: 1rem;
    color: dimgrey;
}