#brandNew {
    border: 1px solid silver;
    position: relative;
    width: 100vw;
    height: 500px;
    margin: 60px 0 20px 0;
    padding: 0;
}
#brandNew ul{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
}

#brandNew ul li{
    border: 1px solid silver;
    list-style: none;
    display: inline;
    margin: 10px 50px 0 50px;
}

#brandNew label{
    display: block;
    position: relative;
    left: 50px;
    margin: 10px;
}

#brandNew a{
    border: 1px solid silver;
    color: black;
    text-decoration: none;
    position: relative;
    word-break: break-all;
    overflow-wrap: break-word;
}

#brandNew img{
    border: 1px solid silver;
    width: 200px;
    height: 200px;
    margin: 0 20px 0 20px;
    display: block;
    position: relative;
}

#brandNew a:hover{
    color: deepskyblue;
}

