#login{
    margin: 0;
    padding: 0;
    width: 40vw;
    height: 23vh;
    position: relative;
    top: 5vw;
}

#login ul{
    border: 1px solid silver;
    position: relative;
    margin: 10px;
    padding: 10px;
    text-align: center;
    left: 70%;
}

#login ul li{
    list-style: none;
    margin: 20px 0;
}

li > input{
    border: none;
    border-bottom: 1px solid silver;
    padding: 10px;
    width: 90%;
    font-size: 1.2rem;
}

li > button{
    padding: 6px 90px 6px 90px;
    color: #FFFFFF;
    border-color: #2189E9;;
    background-color: #2189E9;
    border-radius: 7px;
    width: 90%;
    font-size: 1.2rem;
    margin: 20px 0 0 0;
}
li > button:hover{
    background: #3c66ab;
}

#login a {
    color: #2189E9;
    text-decoration: none;
}

#login a:hover{
    font-weight: bolder;
}