
.headbox {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 50vw;
}

.headbox a {
    position: relative;
    left: 10px;
}
.headbox a img {
    position: relative;
    top: 10px;
    width: 39px;
    height: 37px;
}

.headbox h3 {
    display: inline-block;
    position: relative;
    left: 15px;
}

.statistics {
    position: relative;
    top: 120px;
    left: 100px;
    width: 45vw;
    padding: 0px 0px 20px 60px;
    height: 80px;
}

.statistic_content {
    font-weight: 600;
    font-size: 1.5rem;
    position: relative;
    top: 35px;
    right: 30px;
}

.bluebear {
    position: absolute;
    left: 65vw;
    width: 200px;
    top: 50px;
}

.sectionlist{
    height: 300px;
    padding: 0px 20px;
    width: 36vw;
}

.sectionlist div {
    height: 220px;
    background: #f8f9fa;
    box-shadow: 3px 3px 5px rgba(230, 230, 230, 10);
}

.chatlist {
    position: absolute;
    top: 200px;
    left: 100px;
}

.chatlist ul {
    position: absolute;
    list-style: none;
}

.roomNo {
    width: 10vw;
}

.roomName {
    width: 24vw;
    left: 10vw;
}

.roomName a, .orderprod a {
    text-decoration: none;
    color : #2189E9;
}

.roomName a:hover, .orderprod a:hover {
    font-weight: 600;
    color: white;
    background: #2189E9;
}

.orderlist{
    position: absolute;
    left: 45vw;
    top: 200px;
}

.orderlist ul {
    margin: 20px;
    padding: 0;
    list-style: none;
}

.orderNo {
    width: 10vw;
    position: absolute;
}

.orderprod {
    position: absolute;
    left: 10vw;
    width: 15vw;
}

.orderseller {
    position: absolute;
    left: 20vw;
    width: 10vw;
}

.orderdate {
    position: absolute;
    left: 25vw;
    width: 10vw;
}

.selllist{
    position: absolute;
    top: 500px;
    left: 100px;
    width: 75vw;
}

.sellitem {
    margin: 20px;
    padding: 0;
    list-style: none;
    padding: 10px 0px;
    display: flex;
    width: 72vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.pastlist{
    position: absolute;
    top: 800px;
    left: 100px;
    width: 75vw;
}

.pastitem {
    margin: 20px;
    padding: 0;
    list-style: none;
    padding: 10px 0px;
    display: flex;
    width: 72vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.sellitem img, .pastitem img {
    width: 100px;
    height: 100px;
}

.sellitem li, .pastitem li {
    margin: 0 10px;
}

.sellitem span, .pastitem span{
    display: block;
}

